.home {
    height: 100vh;
    background: linear-gradient(to right bottom, var(--white-100) 50%, var(--orange-5) 50%);
}

.quiz {
    background-color: var(--black-5);

}

.default {
    background: #f5f5f5;
}